@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Heebo:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1;
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

/*------------- menu ---------- */
.header {
  position: relative;
}

.header__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

@media screen and (max-width: 720px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}

.header__menu-link {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__menu-link:hover {
  color: #FC111E;
  border-bottom: 2px solid #FC111E;
  padding-bottom: 5px;
}

/*------------ intro ------------*/
.intro {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.intro__content {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  .intro__content {
    height: 460px;
    overflow: hidden;
  }
}

.intro__content-text {
  padding-top: 100px;
  z-index: 2;
}

.intro__content-title {
  font-size: 80px;
  line-height: 80px;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.intro__content-subtitle {
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
  padding-bottom: 35px;
}

.intro__content-button {
  background-color: #FC0A7E;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-shadow: 1px 1px 4px;
          box-shadow: 1px 1px 4px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.intro__content-button:hover {
  background-color: #FC111E;
  padding-top: 18px;
  padding-left: 23px;
  margin-left: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.intro__content-image {
  -webkit-animation-name: myAnimation;
          animation-name: myAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 9;
          animation-iteration-count: 9;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes myAnimation {
  from {
    -webkit-transform: translate(-5px, -10px);
            transform: translate(-5px, -10px);
  }
  50% {
  }
  to {
    -webkit-transform: translate(20px, 30px);
            transform: translate(20px, 30px);
  }
}

@keyframes myAnimation {
  from {
    -webkit-transform: translate(-5px, -10px);
            transform: translate(-5px, -10px);
  }
  50% {
  }
  to {
    -webkit-transform: translate(20px, 30px);
            transform: translate(20px, 30px);
  }
}

@media screen and (max-width: 720px) {
  .intro__content-image {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0.5;
  }
}

/* ------------------ intro second ---------------- */
.intro-second {
  background-color: #1B1B1B;
}

.intro-second__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro-second__pretitle {
  font-size: 0.75rem;
  line-height: 167%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
  padding-bottom: 25px;
}

.intro-second__title {
  font-size: 2.38rem;
  line-height: 126%;
  text-align: center;
  color: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
}

/*--------- about ---------- */
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 720px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__content-text {
  padding-left: 125px;
  padding-right: 125px;
}

@media screen and (max-width: 720px) {
  .about__content-text {
    padding: 0px;
  }
}

.about__content-pretitle {
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
  padding-bottom: 30px;
}

.about__content-title {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  /* or 126% */
  color: #000000;
  padding-bottom: 22px;
}

.about__content-subtitle {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #6B6B6B;
}

.about__content-image {
  padding-left: 125px;
  padding-right: 125px;
}

@media screen and (max-width: 720px) {
  .about__content-image {
    padding: 0px;
  }
}

/*---------------- ready ---------------- */
.ready {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.ready__content {
  padding-top: 150px;
  padding-bottom: 250px;
  text-align: center;
}

.ready__content-title {
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 126% */
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 45px;
}

.ready__content-button {
  background-color: #FC0A7E;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.ready__content-button:hover {
  background-color: #FC111E;
}

.ready__content-button_second {
  translate: 0px;
  margin-left: 10px;
  background: rgba(205, 214, 219, 0.1);
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 19px;
}

/* ----------------- feature ------------- */
.feature__content {
  padding-bottom: 50px;
  margin-top: -100px;
}

.feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

@media screen and (max-width: 720px) {
  .feature__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature__cards {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .feature__cards {
    margin-bottom: 20px;
  }
}

.feature__card {
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #FFFFFF;
  padding: 35px;
}

.feature__icon {
  text-align: center;
  padding-bottom: 45px;
}

.feature__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}

.feature__description {
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #6B6B6B;
}

/*------------- clients partners ------------- */
.clients {
  padding-top: 25px;
  padding-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.66%;
          flex: 0 1 16.66%;
  max-width: 140px;
  text-align: center;
}

.clients__item img {
  max-width: 100%;
}

/*------------ subscibe form ------------*/
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.subscribe__input {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px #FC0A7E;
          box-shadow: 0px 0px 0px #FC0A7E;
  border-radius: 3px 0px 0px 3px;
  min-height: 58px;
  padding: 0px 25px;
  border: 1px solid #ffffff;
}

.subscribe__button {
  background: #FC0A7E;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
  background-color: #FC111E;
  cursor: pointer;
}
